{% extends "base.html" %}


{% block title %}Change password{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error-box">Your attempt to change your password failed. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.password_change %}" id="id_form">
    {% csrf_token %}

    <fieldset>
        <div class="field {% if form.old_password.errors %}error-field{% endif %}">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
        </div>
        <div class="field {% if form.password1.errors %}error-field{% endif %}">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
        </div>
        <div class="field {% if form.password1.errors %}error-field{% endif %}">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
        </div>
    </fieldset>

    <input type="submit" value="Change password" />
</form>

{% endblock %}
